
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="static/home.css">
    
    <script src="https://kit.fontawesome.com/4385215774.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    
    <title>ABS TECH</title>
 
</head>
   
<body>
          
<div class="Menu">
    <div class="Menu1">
        <div class="pan" id="pan">
            <span id="text">COMPANY</span>
            <ion-icon name="caret-forward-outline" class="icon"></ion-icon>
        </div>
        <ul class="subs">
            <li class="cc1"><a href="">Profile</a></li>
            <li class="cc1"><a href="">Corporate Governance</a></li>
            <li class="cc1"><a href="">ISO Certification</a></li>
            <li class="cc1"><a href="">Infrastracture</a></li>
            <li class="cc1"><a href="">Portfoli</a></li>
            <li class="cc1"><a href="">News & Events</a></li>
            <li class="cc1"><a href="">Awards</a></li>
        </ul>
        <div class="pan1" id="pan1">
            <span id="text">SOLUTIONS</span>
            <ion-icon name="caret-forward-outline" class="icon"></ion-icon>
        </div>
        <ul class="subs1">
            <li class="cc1"><a href="">Remote Infrastracture Management</a></li>
            <li class="cc1"><a href="">Webhosting & Data Center Support</a></li>
            <li class="cc1"><a href="">Phone Support Solution</a></li>
            <li class="cc1"><a href="">Design Solution</a></li>
            <li class="cc1"><a href="">Development & Opensource Solution</a></li>
            <li class="cc1"><a href="">Internet Marketing Solution</a></li>
           
        </ul>
        <div class="pan2" id="pan2">
            <span id="text">OUTSOURCING MODELS</span>
            <ion-icon name="caret-forward-outline" class="icon"></ion-icon>
        </div>
        <ul class="subs2">
            <li class="cc1"><a href="">Partnership Model</a></li>
            <li class="cc1"><a href="">Engagement Model</a></li>
        </ul>
        
        
        <div class="pan3" id="pan3">
            <span id="text">CAREERS</span>
            <ion-icon name="caret-forward-outline" class="icon"></ion-icon>
        </div>
        <ul class="subs3">
            <li class="cc1"><a href="">How we Hire</a></li>
            <li class="cc1"><a href="">Register Your Profile</a></li>
            <li class="cc1"><a href="">Job Opening</a></li>
        </ul>
        
        
        <div class="pan4" id="pan4">
            <span id="text">CONTACT</span>
            <ion-icon name="caret-forward-outline" class="icon"></ion-icon>
        </div>
        <ul class="subs4">
                <li class="cc1"><a href="">Location</a></li>
                <li class="cc1"><a href="">Request for Proposal</a></li>
                <li class="cc1"><a href="">Became a Partner</a></li>
                <li class="cc1"><a href="">Request for Call Back</a></li>
                <li class="cc1"><a href="">Feedback</a></li>
            </ul>
            
    
    </div>

    </div>


    <header>
        <!-- NAv bar full screen 2 -->
        <nav>
            <li id="c1"><a href="">COMPANY</a>
                <ul class="cat">
                    <li><a href="">Profile</a></li>
                    <li><a href="">Corporate Governance</a></li>
                    <li><a href="">ISO Certification</a></li>
                    <li><a href="">Infrastracture</a></li>
                    <li><a href="">Portfoli</a></li>
                    <li><a href="">News & Events</a></li>
                    <li><a href="">Awards</a></li>
                </ul>
                
            </li>
                  
            <li id="c1"><a href="">SOLUTION</a>
                <ul class="cat">
                    <li><a href="">Remote Infrastracture Management</a></li>
                    <li><a href="">Webhosting & Data Center Support</a></li>
                    <li><a href="">Phone Support Solution</a></li>
                    <li><a href="">Design Solution</a></li>
                    <li><a href="">Development & Opensource Solution</a></li>
                    <li><a href="">Internet Marketing Solution</a></li>
                   
                </ul>
            </li>
            <li id="c1"><a href="">OUTSOURCING MODEL</a>
                <ul class="cat">
                <li><a href="">Partnership Model</a></li>
                <li><a href="">Engagement Model</a></li>
            </ul>
            </li>
            <li id="c1"><a href="">CAREERS</a>
                <ul class="cat">
                <li><a href="">How we Hire</a></li>
                <li><a href="">Register Your Profile</a></li>
                <li><a href="">Job Opening</a></li>
            </ul>
            </li>
            <li id="c1"><a href="">CONTACT</a>
                <ul class="cat">
                    <li><a href="">LOCATION</a></li>
                    <li><a href="">Request for Proposal</a></li>
                    <li><a href="">Became a Partner</a></li>
                    <li><a href="">Request for Call Back</a></li>
                    <li><a href="">Feedback</a></li>
                </ul>
            </li>
        </nav>
    </header>
    <div class="arw">
        <div class="arrow"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
     <!-- this contains bg image 1 -->
    <div class="bgimg">
        <br>
        <p>ABS <br> TECHNOLOGIES </p> 
    </div>
    <script src="static/home.js"></script>


    <!-- this class for logos 1 by 1-->
        <div class="zz">
            <a href=""><i class="fa-solid fa-briefcase"></i></a> 
        </div>
        <div class="zz1">
            <p class="fon1">Vist Our</p><p class="fon2">PORTFOLIO</p>     
        </div>
    
        <div class="zz">
            <a href=""><i class="fa-solid fa-handshake" ></i></a> 
        </div>
        <div class="zz1">
            <p class="fon1">Became a</p><p class="fon2">PARTNER</p>  
        </div>
        <div class="zz">
            <a href=""><i class="fa-solid fa-note-sticky"></i></a> 
    
        </div>
        <div class="zz1">
            <p class="fon1">Get a</p><p class="fon2" >QUOTE</p>  
        </div>
        
    <!-- this class for logos in one line1-->

    <div class="table1">
        <div class="lg1">
            <div class="zzz">
                <a href=""><i class="fa-solid fa-briefcase"></i></a> 
            </div>
            <div class="zzz1">
                <p class="fon1">Vist Our</p><p class="fon2">PORTFOLIO</p>     
            </div>
        </div>

        <div class="lg2">
            <div class="zzz">
                <a href=""><i class="fa-solid fa-handshake" ></i></a> 
            </div>
            <div class="zzz1">
                <p class="fon1">Became a</p><p class="fon2">PARTNER</p>  
            </div>
        </div>
        <div class="lg3">
            <div class="zzz">
                <a href=""><i class="fa-solid fa-note-sticky"></i></a> 
        
            </div>
            <div class="zzz1">
                <p class="fon1">Get a</p><p class="fon2">QUOTE</p>  
            </div> 

        </div>
    </div>


   <!-- this class for logos with link in  1 by 1-->

    <div class="container">
        <p>Our Solutions</p>
        <div class="log1">
            <i class="fa-solid fa-users" ></i>
            <a href="">Remote Infrastructure  Management</a>
        </div> 
        <div class="log2">
            <i class="fa-solid fa-database"></i>
            <a href="">Web Hosting & Data Center Support</a>
        </div>
        <div class="log3">
            <i class="fa-solid fa-paintbrush"></i>
            <a href="">Design Solutions Provider</a>
        </div>
        <div class="log4">
            <i class="fa-brands fa-osi" ></i> 
            <a href="">Development & Open  Source Solution</a>    
        </div>
        <div class="log5">
            <i class="fa-sharp fa-solid fa-earth-africa"></i>
            <a href="">Internet Marketing Solution</a>    
        </div>
        <div class="log6">
            <i class="fa-sharp fa-solid fa-mobile-screen"></i>  
            <a href="">Phone Support Solution</a>
        </div>
    </div>


      <!-- this class for logos with link in  2 by 1-->

    <div class="container3">
        <p>Our Solutions</p>
        <div class="container4">
            <div class="lo1">
                <i class="fa-solid fa-users" ></i>
                <a href="">Remote Infrastructure  Management</a>    
            </div> 
            <div class="lo2">
                <i class="fa-solid fa-database"></i>
                <a href="">Web Hosting & Data Center Support</a>
            </div>
            
        </div>
        <div class="container5">
            <div class="lo3">
                <i class="fa-solid fa-paintbrush"></i>
                <a href="">Design Solutions<br> Provider</a>
            </div>
            <div class="lo4">
                <i class="fa-brands fa-osi" ></i> 
                <a href="">Development & Open <br> Source Solution</a>    
            </div>
        </div>

        <div class="container6">
            <div class="lo5">
                <i class="fa-sharp fa-solid fa-earth-africa"></i>
                <a href="">Internet Marketing Solution</a>    
            </div>
            <div class="lo6">
                <i class="fa-sharp fa-solid fa-mobile-screen"></i>  
                <a href="">Phone Support Solution</a>
            </div>
        </div>
    
    </div>

    <!-- this class for logos with link in  3 by 1-->
    <div class="container1">
        <p>Our Solutions</p>
        <div class="container2">
            <div class="lsg1">
                <i class="fa-solid fa-users" ></i>
                <a href="">Remote Infrastructure  Management</a>    
            </div> 
            <div class="lsg2">
                <i class="fa-solid fa-database"></i>
                <a href="">Web Hosting & Data Center Support</a>
            </div>
            <div class="lsg3">
                <i class="fa-solid fa-paintbrush"></i>
                <a href="">Design Solutions<br> Provider</a>
            </div>
        </div>
        <div class="container2">
            <div class="lsg4">
                <i class="fa-brands fa-osi" ></i> 
                <a href="">Development & Open  Source Solution</a>    
            </div>
            <div class="lsg5">
                <i class="fa-sharp fa-solid fa-earth-africa"></i>
                <a href="">Internet Marketing Solution</a>    
            </div>
            <div class="lsg6">
                <i class="fa-sharp fa-solid fa-mobile-screen"></i>  
                <a href="">Phone Support Solution</a>
            </div>
        </div>
    
    </div>

    <!-- this contains bg image 2 -->

    <div class="chose">

        <p class="chos1"> Why Choose Us?</p>
      
    </div>
    <br>

    <!-- this contains 8 logos and link in 1 by 1 -->
    <div class="elem">
        <p>Industry Served</p>
        <div class="ele1">
            <i class="fa-solid fa-server"></i>
            <a href="">Web Hosting & Data Centers</a>
        </div>
        <div class="ele1">
            <i class="fa-solid fa-globe"></i>
            <a href="">Internet Service Provider</a>
        </div>
        <div class="ele1">
            <i class="fa-solid fa-desktop"></i>
            <a href="">Web Design & Development</a>
        </div>
        <div class="ele1">
            <i class="fa fa-cogs"></i>
            <a href="">Information Technology</a>
        </div>
        <div class="ele1">
            <i class="fa-solid fa-plane-departure"></i>
            <a href="">Travel</a>
        </div>
        <div class="ele1">
            <i class="fa-solid fa-user-graduate"></i>
            <a href="">Educational</a>
        </div>
        <div class="ele1">
            <i class="fa-sharp fa-solid fa-building-columns"></i>
            <a href="">Banking & Finance</a>
        </div>
        <div class="ele1">
            <i class="fa-solid fa-kit-medical"></i>
            <a href="">Healthcare</a>
        </div>
       
    </div>
    


     <!-- this contains 8 logos and link in 2 by 1 -->

    <div class="elem1">
        <p>Industry Served</p>
        <div class="csk">
            <div class="ell1">
                <i class="fa-solid fa-server"></i>
                <a href="">Web Hosting & Data Centers</a>
            </div>
            <div class="ell1">
                <i class="fa-solid fa-globe"></i>
                <a href="">Internet Service Provider</a>
            </div>

        </div>
        <div class="csk">
            <div class="ell1">
                <i class="fa-solid fa-desktop"></i>
                <a href="">Web Design & Development</a>
            </div>
            <div class="ell1">
                <i class="fa fa-cogs"></i>
                <a href="">Information Technology</a>
            </div>

        </div>
        <div class="csk">
            <div class="ell1">
                <i class="fa-solid fa-plane-departure"></i>
                <a href="">Travel</a>
            </div>
            <div class="ell1">
                <i class="fa-solid fa-user-graduate"></i>
                <a href="">Educational</a>
            </div>

        </div>
        <div class="csk">
            <div class="ell1">
                <i class="fa-sharp fa-solid fa-building-columns"></i>
                <a href="">Banking & Finance</a>
            </div>
            <div class="ell1">
                <i class="fa-solid fa-kit-medical"></i>
                <a href="">Healthcare</a>
            </div>

        </div>
    </div>
    
    <div class="compdetl">
        <div class="compdet2">
            
            <div id="loc1"><a href="https://goo.gl/maps/VfdtSt47Cs2Pi2m98" target="_blank"><address> ABS TECHNOLOGIES<br> Coimbatore<br>Tamil Nadu, India <br> CONTACT:8072029790</address></a></div>
    
            <div id="kkr">
                <ol class="olist1">
                    <h2>COMPANY</h2>
                    <li><a href="">Home</a></li>
                    <li><a href="">Profile</a></li>
                    <li id="rcb"><a href="">Partnership</a></li>
                    <li id="rcb1"><a href="">Infrastructure</a></li>
                    <li id="rcb2"><a href="">Blog</a></li>
                </ol>    
            </div>  
            <div id="kkr">
                <ol class="olist2">                                                                                       
                   <h2>SOLUTIONS</h2>
                   <li id="rcb3"><a href="">RIM</a></li>
                   <li id="rcb4"><a href="">Hosting Support</a></li>
                   <li id="rcb5"><a href="">Phone Support</a></li>
                   <li id="rcb6"><a href="">Design Solutions</a></li>
                   <li id="rcb7"><a href="">Web Development</a></li>
                   <li id="rcb8"><a href="">SEO</a></li>
    
                </ol>  
            </div>   

            <div id="kkr">
                <ol class="olist3">                                                                                       
                    <h2>CAREERS</h2>
                    <li id="rcb9"><a href="">How We Hire</a></li>
                    <li id="rcb10"><a href="">Register Your Profile</a></li>
                    <li id="rcb11"><a href="">Job Opening</a></li>
                  
                 </ol>      
            </div>      

            <div id="kkr">
                 <ol class="olist4">                                                                                       
                    <h2>CONTACT</h2>
                    <li id="rcb12"><a href="">LOCATION</a></li>
                    <li id="rcb13"><a href="">Request for Proposal</a></li>
                    <li id="rcb14"><a href="">Became a Partner</a></li>
                    <li id="rcb15"><a href="">Request for Call Back</a></li>
                    <li id="rcb16"><a href="">Feedback</a></li>
                 </ol>  
            </div>  
                        
        </div>
        <div class="compdet3">
            
            <div id="loc1"><a href="https://goo.gl/maps/VfdtSt47Cs2Pi2m98" target="_blank"><address>  TECHNOLOGIES<br> 1st Floor<br>Venkatasamy Road<br>Rs puram, Coimbatore<br>Tamil Nadu, India - 641002<br> CONTACT: 1234567890</address></a></div>
    
            <div class="grid">
                <ol class="olist1">
                    <h2>COMPANY</h2>
                    <li><a href="">Home</a></li>
                    <li><a href="">Profile</a></li>
                    <li><a href="">Partnership</a></li>
                    <li><a href="">Infrastructure</a></li>
                    <li><a href="">Blog</a></li>
                </ol>      
                <ol class="olist2">                                                                                       
                   <h2>SOLUTIONS</h2>
                   <li><a href="">RIM</a></li>
                   <li><a href="">Hosting Support</a></li>
                   <li><a href="">Phone Support</a></li>
                   <li><a href="">Design Solutions</a></li>
                   <li><a href="">Web Development</a></li>
                   <li><a href="">SEO</a></li>
    
                </ol>            
                <ol class="olist3">                                                                                       
                    <h2>CAREERS</h2>
                    <li><a href="">How We Hire</a></li>
                    <li><a href="">Register Your Profile</a></li>
                    <li><a href="">Job Opening</a></li>
                  
                 </ol>     
                 <ol class="olist4">                                                                                       
                    <h2>CONTACT</h2>
                    <li><a href="">LOCATION</a></li>
                    <li><a href="">Request for Proposal</a></li>
                    <li><a href="">Became a Partner</a></li>
                    <li><a href="">Request for Call Back</a></li>
                    <li><a href="">Feedback</a></li>
                 </ol> 
                 
            </div>
          
                        
        </div>

        {% csrf_token %}
        <div class="subm">
            <a href={% url "registerss" %}><button>SUBMIT RFP</button></a>
        </div>
     

        

   

    <footer id="cpyrt"> <a href="">Copyright &#169 2023 ABS Technologies | Privacy Policy | Terms of use | Sitemap . All Rights Reserved.</a> </footer>
  
    </div>
</body>
</html>